[Unit]
Description=iptables firewall
#Wants=network-pre.target
#Before=network-pre.target

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/bin/iptables-fsinf start
ExecStop=/usr/bin/iptables-fsinf stop
ExecReload=/usr/bin/iptables-fsinf reload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
