Source: iptables-fsinf
Section: net
Priority: optional
Maintainer: Mathias Ertl <mati@fsinf.at>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)
Vcs-Browser: https://github.com/mathiasertl/fw-rules
Vcs-Git: https://github.com/mathiasertl/fw-rules.git

Package: iptables-fsinf
Architecture: all
Depends: ${misc:Depends}
Description: Script to handle iptables rules
 This script is used to handle iptables rules and provides confortable handling
 of IPv4 and IPv6 rulesets.

Package: iptables-fsinf-local
Architecture: all
Depends: ${misc:Depends}, iptables-fsinf
Description: Additional rules for local fsinf installations
 Contains some config-files that can be used inside the fsinf.

Package: iptables-fsinf-saturn
Architecture: all
Depends: ${misc:Depends}, iptables-fsinf
Conflicts: iptables-fsinf-sol
Description: Additional rules for virtual machines on saturn.
 Contains some config-files that can be used on virtual machines on saturn.

Package: iptables-fsinf-sol
Architecture: all
Depends: ${misc:Depends}, iptables-fsinf
Conflicts: iptables-fsinf-saturn
Description: Additional rules for virtual machines on sol.
 Contains some config-files that can be used on virtual machines on sol.
