Source: iptables-fsinf
Section: net
Priority: optional
Maintainer: Mathias Ertl <mati@fsinf.at>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)
Vcs-Browser: https://github.com/mathiasertl/fw-rules
Vcs-Git: https://github.com/mathiasertl/fw-rules.git

Package: iptables-fsinf
Architecture: all
Depends: ${misc:Depends}
Description: Script to handle iptables rules
 This script is used to handle iptables rules and provides confortable handling
 of IPv4 and IPv6 rulesets.

Package: iptables-fsinf-local
Architecture: all
Depends: ${misc:Depends}, iptables-fsinf
Description: Additional rules for local fsinf installations
 Contains some config-files that can be used inside the fsinf.

Package: iptables-fsinf-internal
Architecture: all
Depends: ${misc:Depends}, iptables-fsinf-local
Replaces: iptables-fsinf-saturn (<< 2015-09-27-1), 
 iptables-fsinf-sol (<< 2015-09-27-1)
Breaks: iptables-fsinf-saturn (<< 2015-09-27-1), 
 iptables-fsinf-sol (<< 2015-09-27-1)
Description: Configuration for the internal network
 Contains some config-files that configure hosts used in the internal network
 accessible from hosts hosted inside FSINF.

Package: iptables-fsinf-saturn
Architecture: all
Depends: ${misc:Depends}, iptables-fsinf-internal
Section: oldlibs
Priority: extra
Conflicts: iptables-fsinf-sol
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: iptables-fsinf-sol
Architecture: all
Depends: ${misc:Depends}, iptables-fsinf-internal
Priority: extra
Section: oldlibs
Conflicts: iptables-fsinf-saturn
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
